* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-de-fundo-cabecario: #34495e;
}

#cabecario {
    background-color: var(--cor-de-fundo-cabecario);
    height: 150px;
    color: azure;
    text-align: center;
    position: relative; /* Adicionado */
}
#cabecario > h1 {
    padding-top: 25px;
    font-size: 35px;
    font-weight: 1000;
    text-shadow: 2px 3px 3px black;
    font-family: Cambria, Helvetica, sans-serif;
}
#cabecario > h2 {
    padding-top: 12px;
    text-shadow: 2px 3px 3px black;
    font-family: Cambria, Helvetica, sans-serif;
}
#imagem1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-500%, -50%);
}
#imagem2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-700%, -50%);
}
nav {
    background-color: rgba(22, 112, 112, 0.377);
    padding-top: 1px;
    padding-bottom: 10px;
}
nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

nav > ul > li {
    margin: 0 15px;
    font-size: 16px;
    font-weight: bolder;
}

nav > ul > li > a {
    color: #0a0a0a;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav > ul > li > a:hover {
    background-color: #047a39b7; /* Verde */
    color: #f3f3f3;
}

footer {
    height: 150px;
    text-align: center;
}

footer > img {
    height: 70px;
}
main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5px;

    word-spacing: 1px;
    width: 600px;
    margin: auto;
    padding-top: 30px;
    font-size: 18px;
}


img {
    width: 60px;
    height: 60px;
    
}
